<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta   http-equiv= "Pragma"   content= "no-cache" />
    <meta   http-equiv= "Cache-Control"   content= "no-cache" />
    <meta   http-equiv= "Expires"   content= "0" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">数据中心</title>
    <link rel="stylesheet" href="../css/iconfont/iconfont.css" data-th-href="@{/resources/css/iconfont/iconfont.css}"/>
    <link href="../css/reset.css" rel="stylesheet" data-th-href="@{/resources/css/reset.css}" />
    <link href="../css/global.css" rel="stylesheet" data-th-href="@{/resources/css/global.css}" />
    <link href="../css/theme/theme-3.css" rel="stylesheet" data-th-href="@{/resources/css/theme/theme-3.css}"/>
    <link href="../css/jquery.bxslider.css" rel="stylesheet" data-th-href="@{/resources/css/jquery.bxslider.css}"/>
    <script type="text/javascript" src="../../static/js/libs/jquery.js" data-th-src="@{/resources/js/libs/jquery-3.0.0.min.js}"></script>
    <script type="text/javascript" src="../../static/js/libs/jquery.bxslider.js" data-th-src="@{/resources/js/libs/jquery.bxslider.js}"></script>
</head>
<body>
<header class="header" data-th-include="fragment/header::header"></header>

<article class="main">
    <main class="center-panel" layout:fragment="content">

    </main>
</article>
<footer class="foot" data-th-include="fragment/footer::footer">

</footer>
<script type="text/javascript" src="../../static/js/thymeleaf/index.js" data-th-src="@{/resources/js/thymeleaf/index.js}"></script>
</body>
</html>