<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main">
<head>
  <title>用户管理</title>
<link data-th-href="@{/resources/webpack/css/manager/userManager.css}" href="/static/webpack/css/manager/userManager.css" rel="stylesheet"/></head>
<body layout:fragment="content">
<div id="app"></div>

<script type="text/javascript" src="/static/webpack/js/manifest.js" data-th-src="@{/resources/webpack/js/manifest.js}"></script><script type="text/javascript" src="/static/webpack/js/vendor.js" data-th-src="@{/resources/webpack/js/vendor.js}"></script><script type="text/javascript" src="/static/webpack/js/manager/userManager.js" data-th-src="@{/resources/webpack/js/manager/userManager.js}"></script></body>
</html>
