<head class="error-bg" data-th-fragment="headerFragment(pageTitle)">
    <meta charset="UTF-8"/>
    <title data-th-text="${pageTitle}"></title>
    <link rel="stylesheet" href="../css/iconfont/iconfont.css" data-th-href="@{/resources/css/iconfont/iconfont.css}" />
    <link href="../css/reset.css" rel="stylesheet" data-th-href="@{/resources/css/reset.css}" />
    <link href="../css/global.css" rel="stylesheet" data-th-href="@{/resources/css/global.css}" />
    <link href="../css/theme/theme-1.css" rel="stylesheet" data-th-href="@{/resources/css/theme/theme-3.css}"/>
    <script type="text/javascript" src="../../static/js/libs/jquery.js" data-th-src="@{/resources/js/libs/jquery-3.0.0.min.js}"></script>
    <script type="text/javascript" src="../../static/js/thymeleaf/index.js" data-th-src="@{/resources/js/thymeleaf/index.js}"></script>
</head>