<section id="header" data-th-fragment="header">
    <section class="center-panel">
        <section class="logo-text" data-th-text="#{header.logo.title}"></section>
        <section class="user-zone" data-th-name="${user}" style="font-size: 16px;font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;">
            <span id="contextPath" data-th-text="${contextPath}" style="display: none"></span>
            <span class="Hui-iconfont user-img" style="vertical-align: middle;">&#xe60a;</span>
                <label class="logout"  style="" data-th-text="${user.name}">系统管理员</label>
            <span class="Hui-iconfont" style="font-size:14px;">&#xe6d5;</span>
            <ul class="sub-menu user-sub-menu" >
             <!--   &lt;!&ndash;<li data-th-if="${user.account} == 'root'"><a class="link" data-th-href="@{${'/'+ @environment.getProperty('com.zjcds.web.menu.accessPath') + '/manager/userManager'}}">用户管理</a></li>
                <li data-th-if="${user.account} == 'root'"><a class="link" data-th-href="@{${'/'+ @environment.getProperty('com.zjcds.web.menu.accessPath') + '/manager/roleManager'}}">角色管理</a></li>
                &ndash;&gt;
                <li data-th-if="${user.account} == 'root'"><a class="link" data-th-href="@{/module/manager/userManager}">用户管理</a></li>
                <li data-th-if="${user.account} == 'root'"><a class="link" data-th-href="@{/module/manager/roleManager}">角色管理</a></li>
                -->
                <li><a class="link" id="btnResetPass">修改密码</a></li>
                <li><a class="link" data-th-href="@{/logout}">退出</a></li>
            </ul>
        </section>
        <span class="line"></span>
        <section class="logo-menu" data-th-include="fragment/aside::aside"></section>
        <section class="menu-blank"></section>
        <section class="menu-shape"></section>
    </section>
    <section class="center-right"></section>
</section>


