<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" href="../css/iconfont/iconfont.css" data-th-href="@{/resources/css/iconfont/iconfont.css}" />
    <link href="../css/reset.css" rel="stylesheet" data-th-href="@{/resources/css/reset.css}" />
    <link href="../css/global.css" rel="stylesheet" data-th-href="@{/resources/css/global.css}" />
</head>
<body class="body" data-th-style="#{login.body.background}">
<article class="page">
    <section class="login-title">
        <section class="login-title-img" data-th-text="#{login.title}"></section>
    </section>
    <section class="form-login">
        <form class="form-panel" action="./login" method="POST" onsubmit="return checkForm()">
            <p id="error" class="error red common" data-th-text="${errorMessage}"></p>
            <section class="inner-panel">
                <div>
                    <img src="../img/login/icon_un.png" data-th-src="@{/resources/images/login/icon_un.png}" width="27" height="27" />
                    <label class="type-title">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label>
                    <input id="userName" class="login-input" name="username" data-th-placeholder="#{login.form.input.username.placeholder}"/>
                </div>
                <div>
                    <img src="../img/login/icon_pd.png" data-th-src="@{/resources/images/login/icon_pd.png}" width="27" height="27" />
                    <label  class="type-title">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                    <input  th:autocomplete="new-password" id="userPassword" class="login-input" type="password" name="password" data-th-placeholder="#{login.form.input.pwd.placeholder}"/>
                </div>
                <div style="margin-top: 15px">
                    <button class="login-btn" type="submit" data-th-text="#{login.form.button.login.title}"></button>
                    <!--<button class="user-btn reset-btn" type="button">重置</button>-->
                </div>
              <!--  <div class="user-register">
                    <a href="/userReg/toReg" class="register-line" data-th-text="#{login.form.a.title}"></a>
                </div>-->
            </section>
        </form>
       </section>
    <section class="login-bottom" data-th-text="#{login.bottom.title}">

    </section>
</article>
<script type="text/javascript" src="../js/libs/jquery.js" data-th-src="@{/resources/js/libs/jquery-3.0.0.min.js}"></script>
<script type="text/javascript" src="../js/login.js" data-th-src="@{/resources/js/login.js}"></script>
</body>
</html>