.detail{
  padding:5px 0;
  >label{
    display: inline-block;
    vertical-align: middle;
  }
  .explain{
    width: 80px;
    text-align: right;
    vertical-align: top;
  }
  .result{

  }
  .result2{
    width:187px;
  }
}
