.el-transfer__buttons {
  padding: 0 42px;
}
.el-transfer-panel {
  width: 187px;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  font-size: 14px;
  font-weight:600px;
}
